@using CleanArchitecture.WebUI.Helpers.Extensions;

@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-capitalize text-dark" href="#">
            @Context.User.Identity.GetIdentityName()
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-area="" asp-controller="Account" asp-action="Logout">
            Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-area="" asp-controller="Account" asp-action="Login"
           style="color: blue">Login</a>
    </li>
}